examples/n8n-workflows/04-schedule-http-slack.json
{
  "name": "Schedule + HTTP + Slack (canonical first workflow)",
  "nodes": [
    {
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Get BTC Price",
      "type": "n8n-nodes-base.httpRequest",
      "position": [460, 300],
      "parameters": {
        "url": "https://api.coindesk.com/v1/bpi/currentprice.json",
        "options": {}
      },
      "typeVersion": 4
    },
    {
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "position": [680, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "#test"
        },
        "text": "=BTC is currently ${{ $json.bpi.USD.rate }} USD as of {{ $json.time.updated }}",
        "otherOptions": {}
      },
      "typeVersion": 2,
      "notes": "Set your Slack credential after import. Channel defaults to #test."
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{"node": "Get BTC Price", "type": "main", "index": 0}]]
    },
    "Get BTC Price": {
      "main": [[{"node": "Post to Slack", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "tags": ["example", "getting-started"]
}
